obj/
map/
aspell/
source/
ReleaseSource/
Output/
ODSMonitor2/
ODSMonitor/
*.*
!.gitignore
!*.build
!*.cwproj
!*.dct
!*.sln
!*.apv
!*.aff
!*.bat
!*.dbk
!*.ico
!*.dic
!*.manifest
!*.pr
!*.ver
!*.sql
!*.png
!up_vcsettings.ini
!CA_Roots.pem


